header {
    background: gray;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    padding: 20px 0;
}

.navLinks span {
    padding: 0 40px;
    cursor: pointer;
}

.navLinks span:hover {
    color: #00e1ff;
}