.sideBar {
    display: flex;
    flex-direction: column;
    position:static;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20vw;
    padding-top: 20px;
    transition: all ease-in-out 1s;
    cursor: pointer;
}

.sideBar span {
    padding: 20px 0;
    width: 100%;
}

.sideBar span:hover {
    background: gray;
    color: #fff;
}