
section {
    padding: 20px 0;
    .headerText {
        margin-top: 0;
        font-weight: 700;
        margin-bottom: 78px;
    }
}

@media (min-width: 768px) {
    section {
        padding: 40px 0;
    }
}

@media (min-width: 992px) {
    main {
        &>section {
            flex-grow: 1;
        }
    }
}

#jokesList,
#likedJokesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backdrop {
    position: absolute;
    inset: 0;
    transform: translateX(100%); //chenge for opening burger
    transition: $icons;

    .burger {
        background: $lite_bg;
        height: 100%;

        #likedJokesList {
            padding-top: 68px;
        }
    }
}

@media (min-width: 768px) {
    .backdrop {
        background: $backdrop_bg;

        .burger {
            width: 60vw;
            position: absolute;
            top: 0;
            right: 0;

            #likedJokesList {
                padding-top: 48px;
            }
        }
    }
}

@media (min-width: 992px) {
    .backdrop {
        position: static;
        transform: translateX(0);
        background: none;
        width: fit-content;

        .burger {
            width: 480px;
            position: static;
        }
    }
}


.backdrop {
    &.isOpen {
        transform: translateX(0)
    }
}
