
section {
    padding: 20px 0;
    .headerText {
        margin-top: 0;
        font-weight: 700;
        margin-bottom: 78px;
    }
}

#jokesList,
#likedJokesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backdrop {
    position: absolute;
    inset: 0;
    transform: translateX(100%);
    // background: $backdrop_bg;

    .burger {
        background: $lite_bg;
        height: 100%;

        #likedJokesList {
            padding-top: 88px;
        }
    }
}
