ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.categories,
.products {
    width: 20%;
}

.categoryList,
.products-list {
    background-color: rgb(255, 244, 232);
}

.categoryList li,
.products-list li {
    padding: 5px 0;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.active-category {
    background: rgb(157, 202, 72);
}

.product-info {
    flex-grow: 1; 
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.product-info table{
    align-self: center;
    text-align: end;
    border-collapse: collapse;
}

.product-info td {
    padding: 2px 5px;
}

.product-info tr {
    border: 1px solid black;
}

.product-info td:first-child {
    width: 120px;
}

.product-info .info-past {
    text-align: start;
}

#buyBtn {
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: rgb(157, 202, 72);
    border: 1px solid rgb(69, 99, 15);
    cursor: pointer;
}

.hidden {
    display: none;
}