.icon-Vector,
.icon-heart {
    color: $heart;
    transition: $icons;
    border: none;
    background: none;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;

    .card--mini & {
        top: 20px;
        right: 20px;
    }
}

@media (min-width: 768px) {
    .icon {
        top: 40px;
        right: 40px;
    }
}