$white: #fff;
$text: #666;
$text_lite: #999;
$button_bg: #232323;
$tags_bg: #EBEBEB;
$black: #171717;
$accent: #4A90E2;
$input: #AEB3BB;
$pages: #E5E5E5;
$black_bg: #000;
$box_shad: 0px 3px 10px 0px rgba(0, 0, 0, 0.10);


// img
$br: 5px;

// button
$btn-ptop: 17px;
$btn-pbot: 15px;
$btn-lh: normal;
$btn-fs: 14px;
$btn-fw: 700;